{% extends "post_login_dswo.html" %}
{% block content %}

<form id="new-intent" action="/add_another_intent/{{ intent_id }}" method="post">

    <div style="display: flex; flex-direction: column; align-items: center; flex: 1; justify-content: space-around; margin-top: 10px">

        <div>
            <h3>Indent Form</h3>
        </div>

    <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
        <div class="form-group" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
            <label for="intentID">Intent-ID</label>
            <label for="district">Select District:</label>
            <label for="center">Center</label>
            <label for="receivedDate">Intent Received on Date</label>
            <label for="deadline" style="display: inline">Deadline for Delivery</label>
            <label for="garmentType">Garment Type</label>
            <label for="garmentSize">Garment Size</label>
            <label for="unitsRequired">Number of Units Required</label>
            <label for="totalWages">Expected Wages (in Rs.)</label>
            <label for="unitsPm">Maximum number of Units Per Member</label>
            <label for="setID">What is the Set-ID?</label>
            <label for="eo">Educational Officer</label>
        </div>

        <div class="form-group" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
            <input type="number" id="intentID" name="intentID">
            <select class="form-control" style="text-align: center;" id="district" name="district">
                    {% set districts = ["Chennai", "Coimbatore", "Cuddalore", "Dharmapuri", "Dindugul", "Erode",
                      "Kancheepuram", "Kanyakumari", "Karur", "Krishnagiri", "Madurai",
                      "Nagapattinam", "Namakkal", "Nilgiris", "Perambalur", "Pudukottai",
                      "Ramnad", "Salem", "Sivagangai", "Thanjavur", "Theni", "Thiruvarur",
                      "Thirunelveli", "Thirupur", "Thiruvallur", "Thiruvannamalai",
                      "Trichy", "Tuticorin", "Vellore", "Villupuram", "Virudhunagar"] %}

                    {% for district in districts %}
                        <option value= "{{district}}">{{district}}</option>"
                    {% endfor %}
            </select>
            <input type="text" id="center" name="center" style="display: block; width: 100%">
            <input type="date" value="" id="receivedDate" name="receivedDate" onmousemove="populateGarments()">
            <input type="date" value="" id="deadline" name="deadline" onmousemove="populateEO()">
            <select class="garmentPicker" id="garmentType" name="garmentType"></select>
            <select class="sizePicker" id="garmentSize" name="garmentSize" style="display: block; width: 100%"></select>
            <input type="number" id="unitsRequired" name="unitsRequired" onchange="calculateWages(this)">
            <input type="number" id="totalWages" name="totalWages">
            <input type="number" id="unitsPm" name="unitsPm">
            <input type="text" id="setID" name="setID">
            <select class="eoPicker" id="eo" name="eo"></select>
        </div>

    </div>

    <button type="submit" class="btn btn-success">Save Intent Details</button>

    </div>
</form>

<script>
    var source = "/rawIntentSingle/"+"{{intent_id}}";
    $.ajax({
        type: 'GET',
        url: source,
        contentType: "application/json",
        dataType: 'json',
        success: function (json) {
            console.log(json, "{{intent_id}}");
            document.getElementById("intentID").value = json[0]["intent_id"];
            document.getElementById("district").value = json[0]["district"];
            document.getElementById("center").value = json[0]["center"];
            document.getElementById("receivedDate").value = moment(json[0]["received_date"]['$date']).format("YYYY-MM-DD");
            document.getElementById("deadline").value = moment(json[0]["deadline"]['$date']).format("YYYY-MM-DD");
            document.getElementById("garmentType").value = json[0]["garment_type"];
            document.getElementById("unitsPm").value = json[0]["units_pm"];
            document.getElementById("setID").value = json[0]["set_id"];
        },
            error: function (e) {
                alert("error");
            }
        });

        var distSociety =  {"Chennai": ["The Madras Womens Tailoring Indl.Co.Op Society Ltd Ind 1386",  "Ramakrishna Adi_Dravidar Womens Tailoring Indl.Co. Operative Society Ind 1722",  "The Annie Besant Handi-Capped Womens Welfare Co.Operative Society SW 49",  "The Chennai Womens Cottage Industries Co.Op Society Ltd X 231"],
            "Coimbatore":   ["The Coimbatore Ladies Garment Makers Co-Operative Cootage Industrial Society Ltd - IND 610 ",  "Pollachi Tailoring Womens Development Cottage Co-Operative Society Ltd SW 99"],
            "Cuddalore":    ["The Cuddalore Ladies Tailoring Industrial Co-operative Society Ltd., E.1560",  "Chidambaram Ladies Tailoring and Allied  Indl. Co-op Society Ltd., IND No.966", "The Annai Indira Gandhi  Ladies Tailoring Industrial Co-operative Society Ltd., E.1705"],
            "Dharmapuri":   ["The Dharmapuri Tailoring Women Development Cottage Cooperative Society SW 47",  "The Dharmapuri Stationary Printing Stationary Goods Manufacturing and Tailoring Industrial Co-Operative Society Ltd Ind 1310"],
            "Dindugul":     ["Reg. No Swsw 42 Annai Abirami Women Tailoring Cooperative Society SW 42",  "Ind 1713 Annai Sathya Tailoring Women Industrial Co-Operative Society Ltd Ind 1713",  "Reg.No. Sw 88 Dindigul District Stationery Manufacturing and Tailoring Women Development Industrial Cooperative Society Limited SW 88"],
            "Erode":        ["The Erode District Women Stationery Printing And Tailoring Workers Industrial Cooperative Society limited Ind 1312",  "The Erode Ladies Tailoring Workers Industrial Co-Operative Society limited Ind 1614",  "The Gobichettipalayam Tailoring Workers Women Industrial Cooperative Society Ltd SW 61"],
            "Kancheepuram": ["Kancheepuram Ladies Tailoring Co-Operative Society LTD Ind 1414",  "Sri Kamatchiamman Ladies Tailoring Development Cottage Industrial Coop Society Ltd SW 46",  "Tambaram Ladies Tailoring Indl. Co-Operative Society LTD Ind 1719",  "Chengalpattu District Ladies Note Book Manufacturers and Tailoring Industrial Cooperative Society LTD Ind 1257"],
            "Kanyakumari":  ["Kumari District Tailoring Women Development Cottage Coop Society LTD SW 51", "Kumari District Chalk Cryon Manufacturing Women Development Industrial Coop Society LTD SW 72"],
            "Karur": ["The Karur Tailoring And Allied Works Women Development Industrial Coop Society LTD SW 108"],
            "Krishnagiri": ["Hosur Tailoring Women Development Cottage Co Op Society LTD IND 1020",  "The Mathur Tailoring Women Development Co Op Society LTD SW 105",  "The Barugur Tailoring Women Development Co Op Society LTD SW 106"],
            "Madurai": ["Madurai Gorippalayam Women Tailoring Workers Industrial Cooperative Society LTD IND 844",  "S.W. 55. Ranimangammal Tailoring Women Development Cottage Coop Society LTD SW 55", "The Angayarkanni Southern Regional Women Tailoring Industrial Cooperative Society IND 1435",  "Madurai District Arignar Anna Women Stationery Manufacturing and Tailoring Society IND 1090"],
            "Nagapattinam": ["The Annai Anjugam Tailoring Women Development Cottage Cooperative Society LTD SW 97"],
            "Namakkal": ["The Velur Ladies Readymade Garment Makers Industrial Cooperative Society LTD IND 837",  "Tiruchengodu Ladies And Tailoring Printing Stationery Manufacturer and Tailoring Industrial Coop Society IND 1317"],
            "Nilgiris": ["Nilgiri District Tailoring Women Development Cottage Development Industrial Coop Society SW 41"],
            "Perambalur": ["Perambalur Womens Tailoring and Industrial Development Co-Op.Society SW 110"],
            "Pudukottai": ["Pudukkottai Women Tailoring Industrial Co-Op Society LTD IND 1720",  "Amuthasurabi Chalk Craiyons Women Tailoring Society SW 68"],
            "Ramnad": ["S.W.52 Annai Sathya Women Tailoring Co-Op Society LTD SW 52 ",  "Ramnad District Women Tailoring and Multi Purpose Service Coop Society LTD IND 1717",  "Aringar Anna Ladies Tailoring Workers Coop Society LTD Ind 1706",  "Sw.37 Thaimugambigai Women Tailoring Cottage Coop Soceity LTD SW 37"],
            "Salem": ["Salem Ladies Tailoring Industrial Co-Op Society Industrial Coop Society LTD IND 1679",  "Attur Adi-Dravidar Tailoring Workers Woman Development Industrial Coop Society LTD Ind 1109"],
            "Sivagangai": ["Chinnamarudhu Periyamarudhu Pandiyar Women Development Tailoring Industrial Coop Society LTD SW 53",  "Sivagangai Women Tailoring Workers Industrial Co-Operative Society LTD IND 1759",  "Mangalam Chalk Cryan Manufacturing Development Industrial Coop Society LTD SW 73",  "Kunthavai Natchiyar Women Development Tailoring Cooperative Society LTD SW 54"],
            "Thanjavur": ["Thanjavur Women Tailoring Workers Industrial Co-Op-Society IND 1602",  "Kunthavai Nachiyar Ladies Tailoring Industral Co-Op Society LTD IND 851",  "Kumbakonam Ladies Tailoring Industral Co-Op- Society IND 1603"],
            "Theni": ["S.W.98 Valluvar Vasuki Tailoring Women Development Cootage Coop Society Ltd SW 98",  "Ind.1684 Annai Sathiya Womens Tailoring Industrial Coop Society IND 1684",  "Periyakulam Women Tailoring Industrial Coop Society LTD Ind.1710"],
            "Thirunelveli": ["Tirunelveli Women Tailoring Industrial Co-Op Society LTD IND 1704",  "Tirunelveli Anna Women Cardboard and Stationery Workers and Tailoring Development Industrial Coop Society LTD IND 1192",  "Valliyoor Union Tailoring Workers Industrial Cooperative Society IND 1631"],
            "Thirupur": ["Palladam Women Stationery And Tailoring Industrial Cooperative Society LTD IND 1260"],
            "Thiruvallur": ["Thiruvallur District Womens Tailoring Industrial Coop Society LTD SW 45"],
            "Thiruvannamalai": ["The Annai Sathiya Tailoring Womens Indl Co-Op Society LTD IND 1769",  "The Tiruvannamalai Tailoring Womens Development Cottage Coop Society LTD SW 40ottage Coop Society LTD SW 40"],
  	"Thiruvarur": ["Thiruvarur District Women Tailoring And Industrial Development Coop Society LTD SW 109",  "Valangaiman Women Stationery Manufacturers And Tailoring Industrial Cooperative Society LTD IND 1311", "Nallur Coi Women Workers and Tailoring Industrial Coop Society LTD IND 1469"],
            "Trichy": ["Trichy Womens Tailoring Co-Op.Society LTD R 728",  "Trichy Kavery Womens Tailoring Co-Op.Society LTD IND 1691",  "Trichy Womens Stationary Tailoring Co-Op.Society LTD IND 1315"],
            "Tuticorin": ["Muthunagar Womens Tailoring Co-Operetive Society LTD SW 39", "Bharathiyar Readymade Materials Manufacturing Women Development Tailoring Co-Operative Society LTD IND 1743", "Ranianna Tailoring Cottage Co-Operetive Society LTD IND 1775"],
            "Vellore": ["The Velapadi Women Tailoring and Small Industrial Service Coop Society LTD IND 1676",  "Annai Curie Chalk Manufacturing Physically Handicapped Women Tailoring Development Industrial Service Coop Society LTD SW 94",  "Annai Indira Gandhi Women Tailoring Industrial Service Coop Society LTD IND 1718",  "The Arcot Tailoring Women Development Cottage Co-Operative Society SW 36"],
            "Villupuram": ["Villupuram Womens Tailoring Industrial Co-Operative Society LTD IND 1677",  "Ulundhurpet Printing Stationery And Tailoring Goods Manufacturing Womens Development Industrial Coop Society LTD SW 75"],
            "Virudhunagar": ["Virudhunagar Ladies Tailoring Industrial Co-op Society  LTD Q. 255",  "Annai Sivakami Women Tailoring Industrial CO-Op Society LTD S.W.48",  "Annai Sathiya Women Tailoring Workers Industrial Coop Society LTD Ind.1753",  "Dr.Khanu Women Tailoring Workers Industrial Coop Society LTD IND 1767", "Venkatachalapuram Women Tailoring Industrial Coop Society LTD Ind 1701", "SW 84 m. Reddiapatti Womens Tailoring Printing and Stationery Manufacturing Co-operative Society"]}
            document.getElementById("district").value = -1;
            var classPick = '.societyPicker';
            var html;
            var $locations = $(classPick);
            $('#district').change(function () {
                var district = $(this).val(), societies = distSociety[district] || [];
                html = $.map(societies, function(lcn){
                    return '<option value="' + lcn + '">' + lcn + '</option>'
                });
                $locations.html(html)
            });

        var garmentSizes =  {"Half Pant":      ["1", "2", "3", "4", "5", "5L"],
                            "Half Pant Shirt":   ["1", "2", "3", "4", "5", "5L"],
                            "Full Pant":    ["6", "7", "8", "8L"],
                            "Full Pant Shirt":   ["6", "7", "8", "8L"],
                            "Skirt":     ["1", "2", "3", "4", "5", "5L"],
                            "Blouse":        ["1", "2", "3", "4", "5", "5L"],
                            "Salwar Bottom": ["6", "7", "8", "8L"],
                            "Salwar Top":  ["6", "7", "8", "8L"],
                            "Overcoat":  ["1", "2", "3", "4", "5", "5L", "6", "7", "8", "8L"],
                            "Salwar Dupatta":        ["6", "7", "8", "8L"]};
            var sizePick = '.sizePicker';
            var htmlSize;
            var $sizes = $(sizePick);
            $('#garmentType').change(function () {
                var district = $(this).val(), sizes = garmentSizes[district] || [];
                htmlSize = $.map(sizes, function(lcn){
                    return '<option value="' + lcn + '">' + lcn + '</option>'
                });
                $sizes.html(htmlSize)
            });

    function populateEO() {
        var society_name = document.getElementById('center').value;
        var district = document.getElementById('district').value;
        var source = "/rawDistrictSocietyEOs/"+district+"/"+society_name;
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                var arr = [];
                for(var i = 0; i < json.length; i++) {
                    if(arr.indexOf(json[i]['name']) === -1) {
                        arr.push(json[i]['name']);
                    }
                }
                var $eo = $('.eoPicker');
                var htmlEO = $.map(arr, function(lcn){
                    return '<option value="' + lcn + '">' + lcn + '</option>'
                });
                $eo.html(htmlEO);
            },
            error: function (e) {
                alert("error");
            }
        });
    }

    function populateGarments() {
        var society_name = document.getElementById('center').value;
        var district = document.getElementById('district').value;
        var source = "/rawDistrictICOGarments/"+district;
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                var arr = [];
                for(var i = 0; i < json.length; i++) {
                    if(arr.indexOf(json[i]['garment_type']) === -1) {
                        arr.push(json[i]['garment_type']);
                    }
                }
                var $gp = $('.garmentPicker');
                var htmlGP = $.map(arr, function(lcn){
                    return '<option value="' + lcn + '">' + lcn + '</option>'
                });
                $gp.html(htmlGP);
            },
            error: function (e) {
                alert("error");
            }
        });

    var source1 = "/rawIntentSingle/"+"{{intent_id}}";
    $.ajax({
        type: 'GET',
        url: source1,
        contentType: "application/json",
        dataType: 'json',
        success: function (json) {
            document.getElementById("unitsPm").value = json[0]["units_pm"];
            document.getElementById("setID").value = json[0]["set_id"];
        },
            error: function (e) {
                alert("error");
            }
        });

    }
    function calculateWages(that) {
        var units = parseInt(that.value);
        var district = document.getElementById('district').value;
        var gtype = document.getElementById('garmentType').value;
        var source = "/rawDistrictTypeICOGarments/"+district+"/"+gtype;
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                var wpu = json[0]['wage_per_unit'];
                document.getElementById('totalWages').value = parseInt(wpu)*units;
            },
            error: function (e) {
                alert("error");
            }
        });
    }
</script>

{% endblock %}