{% extends "post_login_dswo.html" %}
{% block content %}

<form id="new-intent" action="/new_garment_ico/{{user._id}}" method="post">
    <div style="display: flex; flex-direction: column; align-items: center; flex: 1; justify-content: space-around; margin-top: 10px">

        <div>
            <h3>Garment Form</h3>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <div class="form-group" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                <label for="numCenters"># of Garments</label>
                <label for="district">District</label>
            </div>

            <div class="form-group" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                <input type="number" id="numCenters" name="numCenters" oninput="createFields(this)">
                <select class="form-control" style="text-align: center;" id="district" name="district">
                    {% set districts = ["Chennai", "Coimbatore", "Dharmapuri", "Dindugul", "Erode",
                    "Kancheepuram", "Kanyakumari", "Karur", "Krishnagiri", "Madurai",
                    "Nagapattinam", "Namakkal", "Nilgiris", "Perambalur", "Pudukottai",
                    "Ramnad", "Salem", "Sivagangai", "Thanjavur", "Theni",
                    "Thirunelveli", "Thirupur", "Thiruvallur", "Thiruvannamalai",
                    "Trichy", "Tuticorin", "Vellore", "Villupuram", "Virudhunagar"] %}

                    {% for district in districts %}
                        <option value= "{{district}}">{{district}}</option>"
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="centerOvr" class="form-group">
            <div id="centerDetails" style="display: flex; flex-direction: column;">
            </div>
        </div>
    </div>

        <div style="align-items: center; justify-content: center; display: flex;">
            <button type="submit" class="btn btn-success">Save Garment Details</button>
        </div>
</form>

<script>

    function createFields(that) {
        $("#centerDetails").empty();
        for(var i=0; i< parseInt(that.value); i++) {
            var inputSNO = "s"+i;
            var GarmentType = "gt"+i;
            var GarmentName = "gn"+i;
            var WPU = "wpu"+i;
            var CC = "cc"+i;
            var Deductions = "d"+i;
            if (i === 0) {
                var row = $('<div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;"></div>')
                    .html(
                        '<div style="display: flex; flex-direction: column;">' +
                            '<label for='+inputSNO+'>S.No</label>' +
                            '<input type="number" id='+inputSNO+' name='+inputSNO+' value='+(i+1)+'>' +
                        '</div>' +
                        '<div style="display: flex; flex-direction: column;">' +
                            '<label for='+GarmentType+'>Garment Type</label>' +
                            '<input type="text" id='+GarmentType+' name='+GarmentType+'>' +
                        '</div>' +
                        '<div style="display: flex; flex-direction: column;">' +
                            '<label for='+GarmentName+'>Garment Name</label>' +
                            '<input type="text" id='+GarmentName+' name='+GarmentName+'>' +
                        '</div>' +
                        '<div style="display: flex; flex-direction: column; ">' +
                            '<label for='+WPU+'>Wage Per Unit</label>' +
                            '<input type="number" id='+WPU+' name='+WPU+'>' +
                        '</div>'+
                        '<div style="display: flex; flex-direction: column; ">' +
                            '<label for='+CC+'>Cutting Charges</label>' +
                            '<input type="number" id='+CC+' name='+CC+'>' +
                        '</div>'
                    );
            }
            else {
                row = $('<div style="display: flex; flex-direction: row; justify-content: space-around"></div>')
                    .html(
                        '<div style="display: flex; flex-direction: column;">' +
                            '<input type="number" id='+inputSNO+' name='+inputSNO+' value='+(i+1)+'>' +
                        '</div>' +
                        '<div style="display: flex; flex-direction: column;">' +
                            '<input type="text" class="societyPicker" id='+GarmentType+' name='+GarmentType+'>' +
                        '</div>' +
                        '<div style="display: flex; flex-direction: column;">' +
                            '<input type="text" class="societyPicker" id='+GarmentName+' name='+GarmentName+'>' +
                        '</div>' +
                        '<div style="display: flex; flex-direction: column; ">' +
                            '<input type="number" id='+WPU+' name='+WPU+'>' +
                        '</div>'+
                        '<div style="display: flex; flex-direction: column; ">' +
                            '<input type="number" id='+CC+' name='+CC+'>' +
                        '</div>'
                    );
            }
            $("#centerDetails").append(row);
        }

    }


</script>
{% endblock %}