{% extends "post_login_dswo.html" %}
{% block content %}

<form id="new-intent" action="/update_intent/{{intent_id}}" method="post">

    <div style="display: flex; flex-direction: column; align-items: center; flex: 1; justify-content: space-around; margin-top: 10px">

        <div>
            <h3>Indent Form</h3>
        </div>

    <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
        <div class="form-group" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
            <label for="intentId">Intent-ID</label>
            <label for="district">Select District:</label>
            <label for="center">Center</label>
            <label for="receivedDate">Intent Received on Date</label>
            <label for="deadline" style="display: inline">Deadline for Delivery</label>
            <label for="garmentType">Garment Type</label>
            <label for="garmentSize">Garment Size</label>
            <label for="unitsRequired">Number of Units Required</label>
            <label for="totalWages">Expected Wages (in Rs.)</label>
            <label for="unitsPm">Maximum number of Units Per Member</label>
            <label for="setID">What is the Set-ID?</label>
            <label for="eo">Educational Officer</label>
        </div>

        <div class="form-group" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
            <input type="number" id="intentId" name="intentId">
            <select class="form-control" style="text-align: center;" id="district" name="district">
                    {% set districts = ["Chennai", "Coimbatore", "Cuddalore", "Dharmapuri", "Dindugul", "Erode",
                      "Kancheepuram", "Kanyakumari", "Karur", "Krishnagiri", "Madurai",
                      "Nagapattinam", "Namakkal", "Nilgiris", "Perambalur", "Pudukottai",
                      "Ramnad", "Salem", "Sivagangai", "Thanjavur", "Theni", "Thiruvarur",
                      "Thirunelveli", "Thirupur", "Thiruvallur", "Thiruvannamalai",
                      "Trichy", "Tuticorin", "Vellore", "Villupuram", "Virudhunagar"] %}

                    {% for district in districts %}
                        <option value= "{{district}}">{{district}}</option>"
                    {% endfor %}
            </select>
            <input type="text" id="center" name="center" style="display: block; width: 100%">
            <input type="date" value="" id="receivedDate" name="receivedDate">
            <input type="date" value="" id="deadline" name="deadline">
            <input type="text" id="garmentType" name="garmentType">
            <input type="text" id="garmentSize" name="garmentSize" style="display: block; width: 100%">
            <input type="number" id="unitsRequired" name="unitsRequired">
            <input type="number" id="totalWages" name="totalWages">
            <input type="number" id="unitsPm" name="unitsPm">
            <input type="text" id="setID" name="setID">
            <input type="text" class="eoPicker" id="eo" name="eo">
        </div>

    </div>

    <button type="submit" class="btn btn-success">Save Intent Details</button>

    </div>

</form>

<script>
    var source = "/rawIntentSingle/"+"{{intent_id}}";
    $.ajax({
        type: 'GET',
        url: source,
        contentType: "application/json",
        dataType: 'json',
        success: function (json) {
            document.getElementById("intentID").value = json[0]["intent_id"];
            document.getElementById("district").value = json[0]["district"];
            document.getElementById("center").value = json[0]["center"];
            document.getElementById("receivedDate").value = moment(json[0]["received_date"]['$date']).format("YYYY-MM-DD");
            document.getElementById("deadline").value = moment(json[0]["deadline"]['$date']).format("YYYY-MM-DD");
            document.getElementById("totalWages").value = json[0]["total_wages"];
            document.getElementById("garmentType").value = json[0]["garment_type"];
            document.getElementById("garmentSize").value = json[0]["garment_size"];
            document.getElementById("unitsRequired").value = json[0]["units_required"];
            document.getElementById("unitsReceived").value = json[0]["units_received"];
            document.getElementById("unitsPm").value = json[0]["units_pm"];
            document.getElementById("eo").value = json[0]["eo"];
            document.getElementById("setID").value = json[0]["set_id"];
        },
            error: function (e) {
                alert("error");
            }
        });
</script>

{% endblock %}