{% extends "post_login_accountant.html" %}
{% block content %}

<body>
        <div id="Search" style="display: flex; flex-direction: column; justify-content: space-between;">
            <label for="myInput" style="margin-left: 10%">Search by Name:</label>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        </div>

        <div id="eoList">
        </div>

</body>

<script>
        var source = "/viewTransactionsByInstallment/{{installment_id}}";
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (jsonFunc) {
                {
                    console.log(jsonFunc);
                    $("#eoDetails").find("tbody").empty();
                    var tbl = $("<table class='table table-bordered table-dark' id='eoDetails'/>");
                    $("#eoList").append(tbl);
                    var hr = "<tr>";
                    var th1 = "<th style='text-align:center;vertical-align:middle'>" + "Member Name" + "</th>";
                    var th2 = "<th style='text-align:center;vertical-align:middle'>" + "Member ID" + "</th>";
                    var th3 = "<th style='text-align:center;vertical-align:middle'>" + "Garment Type" + "</th>";
                    var th4 = "<th style='text-align:center;vertical-align:middle'>" + "Issue Date" + "</th>";
                    var th5 = "<th style='text-align:center;vertical-align:middle'>" + "Deadline" + "</th>";
                    var th6 = "<th style='text-align:center;vertical-align:middle'>" + "Advance Paid" + "</th>";
                    var th7 = "<th style='text-align:center;vertical-align:middle'>" + "Wage Expected" + "</th>";
                    var th8 = "<th style='text-align:center;vertical-align:middle'>" + "# of Units" + "</th>";
                    var th9 = "<th style='text-align:center;vertical-align:middle'>" + "# Units Returned" + "</th>";
                    var th10 = "<th style='text-align:center;vertical-align:middle'>" + "Update Transaction" + "</th>";
                    $("#eoDetails").append(hr + th1 + th2 + th3 + th4 + th5 + th6 + th7 + th8 + th9 + th10);
                    for (var j = 0; j < jsonFunc.length; j++) {
                        {
                            var loan_id = jsonFunc[j]["_id"];
                            var url = '/update_member_transaction/'+loan_id;
                            var row = $('<tr></tr>').html(
                                '<td>'+jsonFunc[j]["name"] +'</td>'+
                                '<td>'+jsonFunc[j]["member_id"] +'</td>'+
                                '<td>'+jsonFunc[j]["garment_type"] +'</td>'+
                                '<td>'+moment(jsonFunc[j]["issue_date"]['$date']).format('DD-MM-YYYY') +'</td>'+
                                '<td>'+moment(jsonFunc[j]["deadline"]['$date']).format('DD-MM-YYYY') +'</td>'+
                                '<td>'+jsonFunc[j]["advance_paid"] +'</td>'+
                                '<td>'+jsonFunc[j]["wage_expected"] +'</td>'+
                                '<td>'+jsonFunc[j]["no_of_units"] +'</td>'+
                                '<td>'+jsonFunc[j]["units_returned"] +'</td>'+
                                '<td><button class="btn btn-default"><a href="' + url + '">'+ 'Update Transaction' +'</a></button></td>');
                            $("#eoDetails").append(row);
                        }
                    }
                }
            },
            error: function (e) {
                alert("error");
            }
        });

    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("eoList");
        tr = table.getElementsByTagName("tr");
        console.log(tr.length);
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

{% endblock %}
